 /* Responsive for Mobile L devices */
 @media screen and (max-width:450px) {

     /* shared related styles */
     .nav-container,
     .menus-item-container,
     .menus-item,
     .cards {
         flex-direction: column;
     }


     .banner-container,
     .play-games-container {
         flex-direction: column-reverse;
     }

     /* nav styles */
     .nav-container {
         width: 95%;
         margin-top: 25px;
     }

     .logo-container {
         width: 100%;
         margin-bottom: 30px;
     }

     .logo-container img {
         margin-left: 70px;
         margin-right: 20px;
     }

     .menus-item-container {
         width: 100%;
     }

     .menus-item li {
         margin-bottom: 30px;
     }

     .menus-icons {
         margin-bottom: 20px;
         margin-top: 10px;
     }

     /* banner styles */


     .banner-content-bg-img {
         width: 95%;
         margin: 20px auto;
         background-size: 100% 336px;
     }

     .banner-content {
         width: 85%;
         margin: 20px auto;
     }

     .banner-caption {
         font-size: 3.9rem;
     }

     .banner-title {
         font-size: 2rem;
     }

     .banner-content p {
         font-size: 1rem;
         margin-bottom: 10px;
     }

     .primary-btn {
         border-radius: 30px;
         padding: 10px 20px;
         font-size: 1.25rem;
     }

     .banner-btn {
         margin-top: 30px;
         margin-bottom: 30px;
     }

     .banner-img-container {
         width: 80%;
         margin: 0 auto;
     }

     .banner-img-container img {
         width: 100%;
     }

     /* Online games styles */

     .online-games-container {
         width: 90%;
         margin: 30px auto;
     }

     .cards {
         width: 80%;
         margin: 0 auto;
     }

     .cards img {
         width: 100%;
     }

     .games-title {
         font-size: 1.5rem;
     }

     .text-description {
         font-size: .7rem;
     }

     /* overlay styles */

     .overlay {
         width: 98%;
         height: 89%;
     }

     /* play games styles */


     .play-games-container {
         width: 95%;
     }

     .play-games-img-container {
         width: 70%;
     }

     .play-games-img-container>img {
         width: 100%;
     }

     .play-games-img {
         bottom: -59px;
         right: -59px;
     }

     .play-games-img img {
         width: 42%;
     }

     .play-games-content {
         width: 80%;
         padding: 10px;
         margin-bottom: 40px;
         margin-top: 40px;
         text-align: center;
     }

     /* cartoon styles */

     .cartoon-section {
         margin: 100px auto 50px;
     }

     .cartoon-card-container {
         max-width: 96%;
         margin: 10px auto;
         padding: 32px 0;
         display: grid;
         grid-template-columns: repeat(3,1fr);
         justify-content: center;
     }

     .cartoon-card-img {
         min-width: 10px;
         min-height: 10px;
         padding: 5px;
         gap: 10px;
     }

     .cartoon-card-img img {
         width: 30px;
         height: 30px;
         border-radius: 50%;
     }

     .cartoon-card-img p {
         font-size: .6rem;
     }


 }





 /* Responsive for Tablet */
 @media screen and (min-width:450px) and (max-width:770px) {

     /* nav styles */

     .nav-container {
         width: 100%;
     }

     .logo-container {
         width: 40%;
     }

     .menus-item-container {
         width: 70%;
         margin: 0px;
         justify-content: space-between;
     }

     .menus-item a {
         margin-left: 0px;
     }

     .menus-item li {
         margin-left: 20px;
         width: 50%;
     }

     .menus-icons {
         gap: 15px;
         margin-left: 10px;
         padding: 20px 15px;
     }

     .banner-content-bg-img {
         width: 95%;
         margin: 0 auto;
         background-size: 100% 385px;
     }

     .banner-content {
         width: 85%;
         margin: 20px auto;
     }

     .banner-title {
         font-size: 2.5rem;
     }

     .banner-content p {
         margin-bottom: 10px;
         font-size: 1.2rem;
     }

     .banner-img-container {
         width: 80%;
         margin: 8px auto 0;
     }

     .banner-img-container img {
         width: 100%;
     }

     /* Online games styles */

     .cards {
         flex-wrap: wrap;
     }

     .cards img {
         width: 100%;
     }

     .card {
         flex: 1;
         width: 100%;
         margin: 0 10px;
         padding: 5px;
         box-sizing: border-box;
         flex: 0 0 calc(50% - 30px);
     }

     /* overlay styles */

     .overlay {
         top: 9px;
         left: 9px;
         width: 94.8%;
         height: 82.2%;
     }


     /* play games styles */


     .play-games-container {
         width: 100%;
     }

     .play-games-img-container {
         width: 50%;
     }

     .play-games-img-container>img {
         width: 85%;
         margin-left: 20px;
     }

     .play-games-img {
         bottom: -100px;
         right: -61.5px;
     }

     .play-games-img img {
         width: 58%;
     }

     .play-games-content {
         width: 40%;
         padding: 10px;
     }
 }