* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #0B0223;
    --primary-font-size: 3rem;
    --primary-font-weight: 600;
    --secondary-font-weight: 700;
    --btn-font-size: 1.12rem;
    --text-weight-last: 500;
}

/* shared styles */
.primary-text {
    color: var(--primary-color);
    font-weight: var(--primary-font-weight);
}

.secondary-text {
    font-size: var(--primary-font-size);
    font-weight: var(--secondary-font-weight);
}

.primary-btn {
    border-radius: 48px;
    border: 0;
    color: white;
    padding: 15px 35px;
    font-size: 1.25rem;
    font-weight: var(--primary-font-weight);
    background-color: #4EC5F7;
    cursor: pointer;
}

.text-description {
    font-size: var(--btn-font-size);
    color: #534C64;
    margin-top: 20px;
}

.fa-regular {
    margin-right: 10px;
    color: #FF42A5;
}

.fa-solid {
    margin-right: 7px;
}

.games-title {
    color: var(--primary-color);
    font-weight: var(--secondary-font-weight);
    font-size: var(--primary-font-size);
}

.text-hive {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header related styles here */

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo-container {
    width: 50%;
    display: flex;
}

.logo-container img {
    width: 70px;
    object-fit: contain;
    margin-right: 20px;
}

.logo-container p {
    font-size: 2.8rem;
    font-weight: var(--secondary-font-weight);
}

.logo-hive {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menus-item-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.menus-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menus-item a {
    text-decoration: none;
    font-size: var(--btn-font-size);
    font-weight: var(--text-weight-last);
    margin-left: 30px;
}

.menus-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 32px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
    font-size: var(--btn-font-size);
}

.menus-icons p {
    color: #3C354F;
    font-weight: var(--text-weight-last);
}

.fa-youtube {
    color: #F61C0D;
}

/* banner related styles */

.banner-container {
    display: flex;
}

.banner-content-bg-img {
    width: 50%;
    background-image: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%), url(../images/group-14.png);
    background-repeat: no-repeat;
    background-size: 100% 500px;

}

.banner-content {
    text-align: justify;
    margin: 80px 10px;
    margin-left: 120px;
}

.banner-title {
    color: #0B0223;
    text-transform: uppercase;
}

.banner-content p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: var(--text-weight-last);
    margin-bottom: 8px;
}

.banner-content .click {
    text-transform: lowercase;
}

.banner-btn {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.sign-btn {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.banner-caption {
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.banner-img-container {
    width: 50%;
    padding: 10px 10px;
}

.banner-img-container img {
    width: 500px;
}

/* Online games styles */

.online-games-container {
    max-width: 1160px;
    margin: 90px auto;
}

.online-games-content {
    text-align: center;
    margin-bottom: 50px;
}



.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.cards img {
    width: 274px;
}

/* Overlay styles */

.overlay-card {
    position: relative;
}

.overlay {
    position: absolute;
    top: 3px;
    left: 3px;
    position: absolute;
    width: 98%;
    height: 81%;
    border-radius: 16px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-icon {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}

.overlay-text {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--btn-font-size);
    font-weight: var(--primary-font-weight);
}

.overlay:hover {
    opacity: 1;
}



/* play games styles */


.play-games-container {
    max-width: 1160px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-games-img-container {
    width: 50%;
    position: relative;
}

.play-games-img-container>img {
    width: 90%;
    margin: 0 auto;
}

.play-games-img {
    position: absolute;
    bottom: -92px;
    right: -43.5px;
    text-align: right;
}

.play-games-img img {
    width: 74%;
}

.play-games-content {
    width: 40%;
    padding: 15px;
}


/* cartoon card styles */

.cartoon-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 100vw;
}

.cartoon-container {
    max-width: 1170px;
    min-height: 300px;
    margin: 150px auto;
    padding: 50px 0;
}

.cartoon-card-container {
    display: grid;
    align-items: center;
}

.first-row {
    grid-template-columns: repeat(5, 1fr);
}

.second-row {
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    margin: 0 auto;
}

.cartoon-card-img {
    border: 0;
    border-radius: 50px;
    background-color: #fff;
    min-width: 195px;
    min-height: 50px;
    margin: 15px auto;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.cartoon-card-img:hover {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

.cartoon-card-img:hover {
    border: .5px solid #FF42A5;
}

.cartoon-card-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cartoon-card-img p {
    font-size: 1rem;
}