* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #0B0223;
    --primary-font-size: 3rem;
    --primary-font-weight: 600;
    --secondary-font-weight: 700;
    --btn-font-size: 1.12rem;
    --text-weight-last: 500;
}

/* shared styles */
.primary-text {
    color: var(--primary-color);
    font-weight: var(--primary-font-weight);
}

.secondary-text {
    font-size: var(--primary-font-size);
    font-weight: var(--secondary-font-weight);
}

.primary-btn {
    border-radius: 48px;
    border: 0;
    color: white;
    padding: 15px 35px;
    font-size: 1.25rem;
    font-weight: var(--primary-font-weight);
    background-color: #4EC5F7;
}

/* header related styles here */

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo-container {
    width: 50%;
    display: flex;
}

.logo-container img {
    width: 70px;
    object-fit: contain;
    margin-right: 20px;
}

.logo-container p {
    font-size: 2.8rem;
    font-weight: var(--secondary-font-weight);
}

.logo-hive {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menus-item-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.menus-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menus-item a {
    text-decoration: none;
    font-size: var(--btn-font-size);
    font-weight: var(--text-weight-last);
    margin-left: 30px;
}

.menus-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 32px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
    font-size: var(--btn-font-size);
}

.menus-icons p {
    color: #3C354F;
    font-weight: var(--text-weight-last);
}

.fa-youtube {
    color: #F61C0D;
}

/* banner related styles */

.banner-container {
    display: flex;
    padding: 10px 10px;
}

.banner-content-bg-img {
    width: 50%;
    background-image: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%), url(../images/group-14.png);
    background-repeat: no-repeat;
    background-size: 100% 500px;

}

.banner-content {
    text-align: justify;
    margin: 80px 10px;
    margin-left: 120px;
}

.banner-title {
    color: #0B0223;
    text-transform: uppercase;
}

.banner-content p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: var(--text-weight-last);
}

.banner-content .click {
    text-transform: lowercase;
}

.banner-btn {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.sign-btn {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.banner-caption {
    font-size: 5.9rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.banner-img-container {
    width: 50%;
}

.banner-img-container img {
    width: 500px;
}